html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;

  --color-one: rgb(255, 255, 255);
  --color-main: #28282b;
  --color-gold: #b9ac96;
}

header {
  a {
    text-decoration: none;
    color: var(--color-one);
    margin-top: 15px;
    display: block;
    margin-left: 10px;
    background-color: var(--color-main);
    width: 50vw;
    height: 20px;
    padding: 5px;
    font-size: 18px;
  }

  h1,
  h2,
  h3,
  p {
    font-weight: 100;
    text-align: center;
    color: var(--color-main);
  }

  h1 {
    font-size: 30px;
    margin-top: 30px;
  }

  h3 {
    font-size: 20px;
    margin-top: 70px;
  }

  p {
    font-size: 14px;
    opacity: 60%;
    margin-top: 30px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 30px;

    .input-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid var(--color-gold);
      border-radius: 5px;
    }

    input[type="text"] {
      padding: 10px;
      border: none;
      width: 200px;
      background-color: #fff;
    }

    button[type="submit"] {
      background-color: transparent;
      border: none;
      padding: 10px;
    }

    .fa-search {
      font-size: 1.2rem;
      color: var(--color-gold);
    }
  }
}

main {
  .question {
    margin: 0;
    margin-top: 10px; /* or adjust as needed */
    margin-left: 20px;
    .question-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 50px;
    }
    h3 {
      margin-right: 10px;
      font-weight: 100;
    }
    button {
      margin-right: 10px;
      background-color: white;
      border: none;
    }
    .texte-cache {
      opacity: 0;
      line-height: 30px;
      font-style: italic;
      width: 75vw;
    }
    &.show {
      .texte-cache {
        opacity: 1;
      }
    }
    &.show button i.fa-plus {
      display: none;
    }
    &.show button i.fa-minus {
      display: inline-block;
    }
    button i.fa-minus {
      display: none;
    }

    .arrow {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    .question {
      position: relative;
      .question-header {
        justify-content: center;
      }
      h3 {
        margin-right: 10px;
        font-weight: 100;
        font-size: 20px;
      }

      .texte-cache {
        text-align: center;
        width: 60vw;
        margin: 0 auto;
        margin-top: 10px;
      }

      .arrow {
        display: inherit;
        position: absolute;
        font-size: 25px;
        right: 0;
        margin-right: 10vw;
        margin-top: 15vw;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  header {
    a {
      width: 20vw;
      font-size: 22px;
    }
  }
  main {
    .question {
      .question-header {
        justify-content: center;
      }
      h3 {
        margin-right: 10px;
        font-weight: 100;
        font-size: 20px;
      }

      .texte-cache {
        text-align: center;
        width: 20vw;
        margin: 0 auto;
        margin-top: 10px;
      }

      .arrow {
        margin-top: 1vw;
        margin-right: 10vw;
        font-size: 40px;
      }
    }
  }
}
