html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  --color-one: rgb(255, 255, 255);
  --color-main: #28282b;
  --color-gold: #b9ac96;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(/img/formM.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
header a {
  position: absolute;
  text-decoration: none;
  color: var(--color-one);
  margin-top: 15px;
  display: block;
  margin-left: 10px;
  background-color: var(--color-main);
  width: 50vw;
  height: 20px;
  padding: 5px;
  font-size: 18px;
  z-index: 1;
}
header .conteneur {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .conteneur .image {
  display: none;
}
header .conteneur .formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  font-size: 14px;
}
header .conteneur .formulaire h1 {
  font-weight: 100;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 20px;
  color: var(--color-one);
}
header .conteneur .formulaire h1 .gold {
  color: var(--color-gold);
}
header .conteneur .formulaire label {
  margin-bottom: 10px;
  color: var(--color-one);
}
header .conteneur .formulaire input[type=text],
header .conteneur .formulaire input[type=email],
header .conteneur .formulaire input[type=tel],
header .conteneur .formulaire input[type=date],
header .conteneur .formulaire select,
header .conteneur .formulaire textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: 1px solid var(--color-gold);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
}
header .conteneur .formulaire .btn {
  background-color: var(--color-gold);
  color: var(--color-one);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 20vw;
}

@media screen and (min-width: 768px) {
  header .conteneur h1 {
    font-weight: 100;
    margin-top: 100px;
    padding-bottom: 50px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .circle-cursor {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(185, 172, 150, 0.337254902);
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 9999;
  }
  header {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: 100vh;
    background-image: none;
    background-position: inherit;
    background-size: inherit;
  }
  header a {
    width: 20vw;
    background-color: var(--color-main);
    color: var(--color-one);
  }
  header .conteneur {
    display: flex;
    flex-direction: inherit;
    align-items: inherit;
  }
  header .conteneur .image {
    display: inherit;
  }
  header .conteneur .image img {
    width: 50vw;
    height: 100vh;
    background-size: cover;
  }
  header .conteneur .formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    font-size: 14px;
    margin-top: none;
    margin: 0 auto;
  }
  header .conteneur .formulaire h1 {
    color: var(--color-main);
    margin-bottom: inherit;
  }
  header .conteneur .formulaire label {
    color: var(--color-main);
  }
  header .conteneur .formulaire .btn {
    width: 5vw;
  }
}/*# sourceMappingURL=reservation.css.map */